@import url(styles.css);
.contentss {
    margin-top: 4%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #ffffff;
    padding-top: 15px;
    padding-left: 40px;
    line-height: 30px;
    font-size: 18px;
}

.body h4,
h2 {
    padding-top: 5px;
    margin-left: 12%;
}

.body {
    background-color: #f2f2f2;
}

.body h2 {
    font-size: 70px;
}