table {
    background-color: #f2f2f2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form {
    font-style: italic;
}

#sub {
    background-color: #ffffff;
    padding: 10px 25px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
}

.mail {
    width: 200px;
}