h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(mountains.svg);
    background-size: cover;
    background-position: right;
}

table {
    background-color: #f2f2f2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form {
    font-style: italic;
}

table:hover {
    background-color: rgb(250, 233, 238);
}

#sub {
    background-color: #ffffff;
    padding: 10px 25px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
}

#sub:hover {
    background-color: rgb(250, 233, 238);
}

.mail {
    width: 200px;
}

h3,
pre {
    color: #ffffff;
}
